.stopwatch {
    width: 100%;
    height: 100vh;
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
}
.timeBox {
    background-color: #fff;
    padding: 10px 20px;
    border-radius: 6px;
}
.timeBox p {
    color: #000;
    font-size: 26px;
    text-align: center;
    font-weight: bold;
}
#btn_timer, .btn_timer {
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    margin: 0px 10px;
    border-radius: 5px;
    cursor: pointer;
}
.ColorFul {
    padding: 10px;
    border: none;
    width: 120px;
    height: 50px;
    border-radius: 6px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}
.ColorFul:focus {
    outline: none;
}
#White {
    background-color: #000;
}
#Blue {
    background-color: Blue;
}
#Red {
    background-color: Red;
}
#Yellow {
    background-color: Yellow;
}
#Brown {
    background-color: Brown;
}
#Pink {
    background-color: Pink;
}
.bgBackground {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.containerInput {
    width: 100%;
    height: 100vh;
    background-color: #000;
}

input[type="text"] {
    width: 80%;
    margin: auto;
    height: 76px;
    border-radius: 15px;
    border: none;
    font-size: 24px;
    padding: 10px 0px 10px 30px;
}

.input:focus {
    outline: none;
    border: none;
}

button.addProduct, button.removeProduct, button.showProducts {
    width: 300px;
    height: 70px;
    font-size: 23px;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    margin: 10px 5px;
    cursor: pointer;
}

.input, .addRemoveButton {
    display: flex;
    justify-content: center;
    align-items: center;
}

.innerInput {
    padding-top: 80px;
}

.productList {
    background-color: #fff;
    padding: 20px;
    width: 80%;
    margin: auto;
    border-radius: 10px;
    margin-top: 30px;
}